<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Tiss'Ka - Erreur 404 - Personnalisation textile et objets</title>
    <meta name="keywords" content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops" />
    <meta name="description" content="Vente de produits personnalisable">
    <meta name="author " content="Tiss 'Ka">

    <link rel="icon" href="/public/img/logo.png" sizes="851x851" />
    <link rel="apple-touch-icon" href="/public/img/logo.png" />
    <meta name="msapplication-TileImage" content="/public/img/logo.png" />

    <link rel="stylesheet" href="/public/css/404.css" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
</head>

<body>

    <!-- Start main Section -->
    <section class="ec-under-maintenance">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="under-maintenance">
                        <h1>Erreur 404</h1>
                        <h4>La page n'a pas été trouvée.</h4>
                        <p>La page que vous recherchez n'existe pas ou a été déplacée.</p>
                        <a href="/" class="btn btn-lg btn-primary" tabindex="0">Retour à l'accueil</a>
                    </div>
                </div>
                <div class="col-md-6 disp-768">
                    <div class="under-maintenance">
                        <img class="maintenance-img" src="/public/img/404.png" alt="maintenance">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>