<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>ADMINISTRATION - Tiss'Ka</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

    <link rel="icon" href="/public/img/logo.png" sizes="851x851" />
    <link rel="apple-touch-icon" href="/public/img/logo.png" />
    <meta name="msapplication-TileImage" content="/public/img/logo.png" />

    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/modal.css">
    <link rel="stylesheet" href="/public/css/admin.css">

    <meta name="token" content="{{token}}">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
</head>

<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-light ec-header-light" id="body">

    {{header}}

    <div class="wrapper">
        <div class="ec-page-wrapper">

            <div class="ec-content-wrapper">
                <div class="content">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                            <div class="card card-mini dash-card card-1">
                                <div class="card-body">
                                    <h2 class="mb-1">{{nbUsers}}</h2>
                                    <p>Nombre de comptes créés</p>
                                    <span class="mdi mdi-account-arrow-left"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                            <div class="card card-mini dash-card card-2">
                                <div class="card-body">
                                    <h2 class="mb-1">{{nbProducts}}
                                        <p>Nombre de produits</p>
                                        <span class="mdi mdi-account-clock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                            <div class="card card-mini dash-card card-3">
                                <div class="card-body">
                                    <h2 class="mb-1">{{nbOrders}}</h2>
                                    <p>Commande</p>
                                    <span class="mdi mdi-package-variant"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                            <div class="card card-mini dash-card card-4">
                                <div class="card-body">
                                    <h2 class="mb-1">{{revenue}} €</h2>
                                    <p>Revenu</p>
                                    <span class="mdi mdi-currency-usd"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 p-b-15">
                            <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                                <div class="card-header justify-content-between">
                                    <h2>Commande en attente</h2>
                                </div>
                                <div class="card-body pt-0 pb-5">
                                    <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Nom de la commande</th>
                                                <th>Options</th>
                                                <th>Date</th>
                                                <th>Prix</th>
                                                <th>Nom du client</th>
                                                <th>Adresse de livraison</th>
                                                <th>Email</th>
                                                <th>Autres infos</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="orders-list-container">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-12 p-b-15">
                            <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                                <div class="card-header justify-content-between">
                                    <h2>Code promo</h2>
                                </div>
                                <div class="card-body pt-0 pb-5">
                                    <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>code</th>
                                                <th>réduction</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="discount-list-container">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer d-flex flex-wrap bg-white">
                                    <a onclick="addDiscount()" class="text-uppercase py-3">Ajouter un code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-default">
                                <div class="card-header justify-content-between">
                                    <h2>Historique des commandes</h2>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="responsive-data-table" class="table dataTable no-footer" style="width: 100%;" aria-describedby="responsive-data-table_info">
                                            <thead>
                                                <tr>
                                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="responsive-data-table" rowspan="1" colspan="1" style="width: 14px;" aria-sort="ascending" aria-label="ID: activate to sort column descending">Nom de la commande</th>
                                                    <th class="sorting" tabindex="0" aria-controls="responsive-data-table" rowspan="1" colspan="1" style="width: 62px;" aria-label="Customer: activate to sort column ascending">Options</th>
                                                    <th class="sorting" tabindex="0" aria-controls="responsive-data-table" rowspan="1" colspan="1" style="width: 82px;" aria-label="Email: activate to sort column ascending">Prix</th>
                                                    <th class="sorting" tabindex="0" aria-controls="responsive-data-table" rowspan="1" colspan="1" style="width: 36px;" aria-label="Items: activate to sort column ascending">Nom du client</th>
                                                    <th class="sorting" tabindex="0" aria-controls="responsive-data-table" rowspan="1" colspan="1" style="width: 33px;" aria-label="Price: activate to sort column ascending">Adresse de livraison</th>
                                                    <th class="sorting" tabindex="0" aria-controls="responsive-data-table" rowspan="1" colspan="1" style="width: 33px;" aria-label="Price: activate to sort column ascending">Email</th>
                                                    <th class="sorting" tabindex="0" aria-controls="responsive-data-table" rowspan="1" colspan="1" style="width: 33px;" aria-label="Price: activate to sort column ascending">Autres infos</th>
                                                    <th class="sorting" tabindex="0" aria-controls="responsive-data-table" rowspan="1" colspan="1" style="width: 50px;" aria-label="Date: activate to sort column ascending">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody class="history-orders-list-container">

                                            </tbody>
                                        </table>
                                        <!-- <div class="row justify-content-between bottom-information">
                                            <div class="dataTables_info" id="responsive-data-table_info" role="status" aria-live="polite">Affichage de 1 à 20 sur 36 entrées</div>
                                            <div class="dataTables_paginate paging_simple_numbers" id="responsive-data-table_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled" id="responsive-data-table_previous"><a href="#" aria-controls="responsive-data-table" data-dt-idx="0" tabindex="0" class="page-link">Précédent</a></li>
                                                    <li class="paginate_button page-item active"><a href="#" aria-controls="responsive-data-table" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                                    <li class="paginate_button page-item "><a href="#" aria-controls="responsive-data-table" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                                    <li class="paginate_button page-item next" id="responsive-data-table_next"><a href="#" aria-controls="responsive-data-table" data-dt-idx="3" tabindex="0" class="page-link">Suivant</a></li>
                                                </ul>
                                            </div>
                                        </div> -->
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {{footer}}
    <script src="/public/js/admin.js"></script>
</body>

</html>