<footer class="ec-footer section-space-mt">
    <div class="footer-container">

        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col text-left footer-bottom-left">
                        <div class="footer-bottom-social">
                            <span class="social-text text-upper">Contactez-nous :</span>
                            <ul class="mb-0">
                                <li class="list-inline-item"><a class="hdr-facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100063802292675"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a class="hdr-instagram" target="_blank" href="https://www.instagram.com/tisska_karen"><i class="fab fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a class="hdr-mail" target="_blank" href="mailto:contact@tisska.fr"><i class="far fa-envelope"></i></a></li>
                                <li class="list-inline-item" style="display: flex; align-items: center; gap:10px"><a class="hdr-phone" target="_blank" href="tel:0610311634"><i class="fas fa-phone"></i></a>06 10 31 16 34</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col text-center footer-copy">
                        <div class="footer-bottom-copy ">
                            <div class="ec-copy">Copyright © 2021-2022. Tous droits réservés. <a href="https://www.tisska.fr">Tiss'Ka</a> <br> Créé par <a href="https://swameta.divertixme.com">Sou - Rufus</a></div>
                        </div>
                    </div>
                    <div class="col footer-bottom-right">
                        <div class="footer-bottom-payment d-flex justify-content-end">
                            <div class="payment-link">
                                <img src="/public/img/payment.png" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>