<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Tiss'Ka - Connexion - Personnalisation textile et objets</title>
    <meta name="keywords" content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops" />
    <meta name="description" content="Vente de produits personnalisable">
    <meta name="author " content="Tiss 'Ka">

    <link rel="icon" href="/public/img/logo.png" sizes="851x851" />
    <link rel="apple-touch-icon" href="/public/img/logo.png" />
    <meta name="msapplication-TileImage" content="/public/img/logo.png" />

    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/login.css" />
</head>

<body>

    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Connexion</h2>
                        <h2 class="ec-title">Connexion</h2>
                    </div>
                </div>
                <div class="ec-login-wrapper">
                    <div class="ec-login-container">
                        <div class="ec-login-form">
                            <form method="post">
                                <span class="ec-login-wrap">
                                    <label>Adresse Email</label>
                                    <input type="text" name="email" placeholder="Entrez votre adresse e-mail..." required />
                                </span>
                                <span class="ec-login-wrap">
                                    <label>Mot de passe</label>
                                    <input type="password" name="password" placeholder="Entez votre mot de passe" required />
                                </span>
                                <span style="color:red" class="help-block with-errors error-msg"></span>

                                <span class="ec-login-wrap ec-login-btn">
                                    <button class="btn btn-primary" type="submit">Connexion</button>
                                    <a href="/register" class="btn btn-secondary">S'inscrire</a>
    </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{footer}}

    <script src="/public/js/login.js"></script>

</body>

</html>