<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Tiss'Ka - Merci ! - Personnalisation textile et objets</title>
    <meta name="keywords" content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops" />
    <meta name="description" content="Vente de produits personnalisable">
    <meta name="author" content="Tiss'Ka">

    <link rel="icon" href="/public/img/logo.png" sizes="851x851" />
    <link rel="apple-touch-icon" href="/public/img/logo.png" />
    <meta name="msapplication-TileImage" content="/public/img/logo.png" />

    <link rel="stylesheet" href="/public/css/thankyou.css" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">

</head>

<body onload="setTimeout(function(){ window.location.href = '/'; }, 5000);">

    <section class="ec-under-maintenance-02">
        <div>
            <div class="wrap">
                <img src="/public/img/thankyou.gif" alt="" />
                <h1>Merci pour votre commande !</h1>
                <h2>
                    <p>Votre commande est en préparation.<br>Contactez-nous pour plus d'informations. <a href="mailto:contact@tisska.fr">kreatisska@outlook.fr</a></p>
                </h2>
                <p style="cursor:pointer;" onclick="window.location.href='/'">Vous allez être redirigé vers notre site dans quelques secondes.</p>
            </div>
        </div>
    </section>


</body>

</html>