/*! CSS Used from: /public/css/style.css */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}

a:hover {
    color: #0a58ca;
}

img {
    vertical-align: middle;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

input,
button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    text-transform: none;
}

button,
[type=button],
[type=submit] {
    -webkit-appearance: button;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

body {
    margin: 0 auto;
    background-color: #ffffff;
    font-family: "Poppins, sans-serif";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.625;
    position: relative;
    visibility: visible;
    color: #444444;
    letter-spacing: 0.4px;
    min-height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.325rem + 0.9vw);
    color: #212121;
}

ul {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #555;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

label {
    display: inline-block;
    margin-bottom: 15px;
}

button {
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    width: 100%;
    background: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-align: left;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
    outline: 0;
}

input:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
    -webkit-box-shadow: none;
    box-shadow: none;
}

[type=button] {
    -webkit-appearance: button;
}

[type=submit] {
    -webkit-appearance: button;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 8px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -15px;
    margin-left: -15px;
}

.row>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0;
}

.col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #444444;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 4px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: #444444;
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.btn-primary {
    color: #ffffff;
    background-color: #3474d4;
    border-color: #3474d4;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #555;
    border-color: #555;
}

.btn-primary:focus {
    color: #ffffff;
    background-color: #3474d4;
    border-color: #3474d4;
}

.btn-primary:active {
    color: #ffffff;
    background-color: #3474d4;
    border-color: #3474d4;
}

.btn-primary:disabled {
    color: #ffffff;
    background-color: #3474d4;
    border-color: #3474d4;
}

.btn-secondary {
    color: #ffffff;
    background-color: #555;
    border-color: #555;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #3474d4;
    border-color: #3474d4;
}

.btn-secondary:focus {
    color: #ffffff;
    background-color: #555;
    border-color: #555;
}

.btn-secondary:active {
    color: #ffffff;
    background-color: #555;
    border-color: #555;
}

.btn-secondary:disabled {
    color: #ffffff;
    background-color: #6C757D;
    border-color: #6C757D;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mb-0 {
    margin-bottom: 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

li {
    list-style: none;
}

@media (min-width: 320px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 738px;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1450px) {
    .container {
        max-width: 1400px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        -webkit-transition: none;
        transition: none;
    }
}

.btn {
    padding: 0;
    font-size: 14px;
    border-radius: 0;
    height: 45px;
    border: 0;
    font-weight: 500;
    line-height: 45px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}

.btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #3474d4;
    border-color: #3474d4;
    border: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #555;
    border-color: #555;
}

.btn-primary:focus {
    color: #ffffff;
    background-color: #3474d4;
    border-color: #3474d4;
}

.btn-primary:active {
    color: #ffffff;
    background-color: #3474d4;
    border-color: #3474d4;
}

body {
    font-size: 14px;
    color: #777;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Poppins, sans-serif";
    font-weight: 300;
    top: 0!important;
}

h2 {
    font-family: "Montserrat";
}

.section-space-p {
    padding: 50px 0;
}

.section-space-mt {
    margin-top: 50px;
}

.section-space-mb {
    margin-bottom: 50px;
}

.ec-page-content .section-title .ec-title {
    padding: 0 34px;
}

.ec-page-content .section-title .ec-title:after {
    width: 20px;
}

.ec-page-content .section-title .ec-title:before {
    width: 20px;
}

.section-title {
    margin-bottom: 30px;
    position: relative;
}

.section-title .ec-title {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 7px;
    color: #555;
    letter-spacing: 0;
    position: relative;
    display: inline;
    padding: 0 64px;
    line-height: 22px;
    letter-spacing: 0.02rem;
    text-transform: capitalize;
}

.section-title .ec-title:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 3px;
    width: 50px;
    margin: 0 auto;
    background: #3474d4;
    right: 0;
    left: auto;
    display: none;
}

.section-title .ec-title:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 3px;
    width: 50px;
    margin: 0 auto;
    background: #3474d4;
    left: 0;
    right: auto;
    display: none;
}

.section-title .ec-bg-title {
    font-family: "Fjalla One";
    font-size: 63px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    color: #444444;
    opacity: 0.1;
    margin-bottom: 0;
    letter-spacing: 0;
    display: none;
}

.text-upper {
    text-transform: uppercase;
}

.ec-breadcrumb {
    padding: 15px 0;
    background-color: #f7f7f7;
}

.ec-breadcrumb .ec-breadcrumb-title {
    text-decoration: none;
    color: #444444;
    display: block;
    font-size: 15px;
    font-family: "Montserrat";
    line-height: 22px;
    font-weight: 700;
    margin: 0 auto;
    text-transform: capitalize;
}

.ec-breadcrumb-list {
    text-align: right;
}

.ec-breadcrumb-list li {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02rem;
    line-height: 1.2;
    text-transform: capitalize;
}

.ec-breadcrumb-list li a {
    position: relative;
    color: #444444;
}

.ec-breadcrumb-list li.active {
    color: #3474d4;
}

.ec-breadcrumb-list .ec-breadcrumb-item.active::before {
    color: #3474d4;
}

.ec-breadcrumb-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ec-breadcrumb-item+.ec-breadcrumb-item {
    padding-left: 7px;
}

.ec-breadcrumb-item+.ec-breadcrumb-item::before {
    display: inline-block;
    padding-right: 7px;
    color: #444444;
    content: "\f101";
    font-family: "EcIcons";
    font-size: 15px;
}

.ec-login-wrapper {
    max-width: 530px;
    margin: 0 auto 0;
}

.ec-login-wrapper .ec-login-container {
    border: 1px solid #ededed;
    padding: 34px 38px 34px;
    text-align: left;
    background-color: #fff;
}

.ec-login-wrapper .ec-login-container .ec-login-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ec-login-wrapper .ec-login-container .ec-login-form label {
    margin-bottom: 9px;
    color: #444444;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
}

.ec-login-wrapper .ec-login-container .ec-login-form input {
    background-color: transparent;
    border: 1px solid #eeeeee;
    color: #777;
    font-size: 14px;
    margin-bottom: 27px;
    padding: 0 15px;
    width: 100%;
    outline: none;
}

.ec-login-wrapper .ec-login-container .ec-login-form .ec-login-wrap+.ec-login-wrap input {
    margin-bottom: 15px;
}

.ec-login-wrapper .ec-login-container .ec-login-form .ec-login-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ec-login-wrapper .ec-login-container .ec-login-form .btn {
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    padding: 0 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 0px;
    width: 150px;
    margin: 15px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::-moz-selection {
    color: #fff;
    background: #3474d4;
}

input::selection {
    color: #fff;
    background: #3474d4;
}


/*! CSS Used from: /public/css/responsive.css */

@media only screen and (max-width: 1366px) {
    .section-space-p {
        padding: 35px 0;
    }
    .section-space-mt {
        margin-top: 35px;
    }
    .section-space-mb {
        margin-bottom: 35px;
    }
    .section-title .ec-bg-title {
        font-size: 53px;
    }
    .section-title .ec-title {
        font-size: 22px;
    }
    .ec-login-wrapper .ec-login-container .ec-login-form .btn {
        font-size: 16px;
        width: 150px;
        margin-top: 15px;
        height: 44px;
        min-width: unset;
    }
}

@media only screen and (max-width: 1199px) {
    .section-title .ec-bg-title {
        font-size: 43px;
    }
    .section-title .ec-title {
        font-size: 20px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .section-space-p {
        padding: 30px 0;
    }
    .section-space-mt {
        margin-top: 30px;
    }
    .section-space-mb {
        margin-bottom: 30px;
    }
    .section-title .ec-bg-title {
        font-size: 33px;
    }
    .section-title .ec-title {
        font-size: 19px;
        line-height: 26px;
    }
}

@media only screen and (max-width: 767px) {
    .section-space-p {
        padding: 25px 0;
    }
    .section-space-mt {
        margin-top: 25px;
    }
    .section-space-mb {
        margin-bottom: 25px;
    }
    .section-title .ec-title {
        padding: 0 50px;
    }
    .section-title .ec-title:before,
    .section-title .ec-title:after {
        width: 30px;
    }
    .section-title .ec-title {
        font-size: 18px;
        line-height: 18px;
    }
    .section-title .ec-bg-title {
        font-size: 26px;
    }
    .ec-breadcrumb {
        padding: 20px 0;
    }
    .ec-breadcrumb .ec-breadcrumb-title {
        margin: 0 auto 5px;
        text-align: center;
    }
    .ec-breadcrumb-list {
        text-align: center;
    }
    input {
        line-height: 42px;
        height: 42px;
        font-size: 14px;
    }
    .ec-login-wrapper .ec-login-container .ec-login-form .btn {
        font-size: 14px;
        width: auto;
        margin-top: 15px;
        height: 40px;
        min-width: unset;
    }
    .ec-login-wrapper .ec-login-container .ec-login-form .btn+.btn {
        margin: 15px auto 0;
    }
}

@media only screen and (max-width: 575px) {
    .section-title .ec-title {
        font-size: 17px;
        padding: 0 40px;
    }
    .section-title .ec-title:after {
        width: 30px;
    }
    .section-title .ec-title:before {
        width: 30px;
    }
    .section-title .ec-bg-title {
        font-size: 26px;
    }
    .ec-login-wrapper .ec-login-container {
        padding: 15px 15px 15px;
    }
    .ec-breadcrumb {
        padding: 15px 0;
    }
    .ec-breadcrumb .ec-breadcrumb-title {
        font-size: 16px;
    }
    .ec-breadcrumb-list li {
        font-size: 14px;
    }
}


/*! CSS Used fontfaces */

@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Fjalla One";
    src: url("/public/fonts/fjalla/FjallaOne-Regular.ttf") format("truetype");
}